/*============================= to remove default settings =============================================*/
/* reset margin, padding and change box size default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* remove default bullets from all lists */
ul {
    list-style: none;
}

/*============================= general =============================================*/
/* colour variables */
:root {
    --green: #32ff00;
    --orange: #f78c0e;
    --yellow: #ffff00;
    --blue: #00ffde;
    --pink: #ff00ff;
    --black: #000;
}

/* base page font styles and body as flex container */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Mono', Courier, monospace;
    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.04rem;
    background-color: var(--black);
    color: white;
}

/*remove background and border and set button text style, set font */
button {
    cursor: pointer;
    color: var(--blue);
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
    letter-spacing: .1rem;
}

/*flex settings so it expands to fill the space and push footer to bottom*/
/* main is flex container for page content, also width and centered */
main {
    flex: 1 0 auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*============================= header =============================================*/
/* flex container for logo and li - li has score and instructions button */
.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

/* score and instructions in page header font, layout styles */
.page-header li {
    display: inline;
    font-size: .8rem;
    padding: .5rem 0.2rem;
    color: var(--yellow);
}

/* instructions button in page header, font, remove letter spacing set on other btns */
.page-header button {
    font-size: .8rem;
    letter-spacing: initial;
}

/* font styles for logo in header */
.logo {
    color: var(--green);
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .15rem;
}

/* text for Score and Instructions - hidden at small screen size */
.hide-text {
    display: none;
}

/*==================================== Instructions Modal ==============================================*/
/* modal outer box - not visible by default, fixed position when opened full width and height */
.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*in case need to scroll down to read all instructions*/
    z-index: 1; /*on top of other content*/
    background-color: rgba(60, 60, 60, 0.9); /*opacity*/
}

/*modal with class visible added, when button clicked*/
.modal.visible {
    visibility: visible;
}

/*box holding the modal header and content */
.modal-content {
    margin: 1.5rem auto;
    padding: 1rem .8rem;
    width: 90%;
    background-color: var(--black);
    font-size: .7rem;
    line-height: 1.3rem;
}

/* heading and close button contained in this - flex container */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .6rem;
    padding-bottom: .5rem;
}

/* line-height to match header, this is for x to close the modal */
.modal-close {
    font-size: 1.8rem;
    line-height: 2rem;
}

/* hover change colour for modal close button */
.modal-close:hover, .modal-close:focus {
    color: var(--pink);
}

/* padding for text section of modal*/
.modal-text ol {
    padding-left: 1.6rem;
    padding-right: .4rem;
}

/*==================================== Game Area - general ==============================================*/
/* general styles for each section of the game area - border, padding, margin, full width at mobile size */
.game-section {
    border: 0.1rem solid var(--blue);
    border-radius: 0.1rem;
    padding: 0.5rem;
    margin: 0.5rem auto;
    width: 100%;
}

/* general styles for buttons in game area - border, color, font */
.game-btn {
    border: 0.1rem solid var(--green);
    border-radius: 0.1rem;
    background-color: rgba(60, 60, 60, 0.6);
    color: white;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
}

/*change font color and background color on hover and focus*/
.game-btn:hover, .game-btn:focus {
    background-color: rgba(60, 60, 60, 0.9);
    color: var(--green);
}

/* for sections that are not shown initally and only shown at different game stages */
.hidden {
    display: none;
}

/*========================== Monster and Game 'lives'/guesses ==================================*/
/* container for the guesses, flex container, aligned flex-end so monster moves towards trophy */
.guesses {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* spacing/sizing for the individual elements in the guesses container */
.guess {
    margin: 0.1rem;
    width: calc(12.5% - .2rem);
    height: auto;
}

/* monster graphic - transition for transform */
.monster {
    transition: all .15s ease;
}

/* class added to monster graphic by js when a life is lost, to animate it */
.jump {
    transform: scale(1.25) translateY(-12%);
}

/* class added by js, to animate trophy graphic when game won, shake for 0.3s, infinite as js will remove class */
.shake {
    animation: shake 0.4s;
    animation-iteration-count: infinite;
}

/*keyframes to create the shake animation, from w3schools https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* to center the text and img when game is over, class added via js to guesses div */
.centered {
    justify-content: center;
    flex-wrap: wrap;
}

/* to increase the size of the icon when game over (only one icon remains at this stage)*/
.centered > .guess {
    width: 20%;
}

/* styles for the text-displayed when game over */
.game-over-text {
    font-family: 'VT323', monospace;
    font-size: .9rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin: 0 0.5rem;
}

/*==================================== Word Area ==============================================*/
/* word area - font styles */
.word-area {
    font-size: 0.7rem;
    line-height: 1.2rem;
    text-align: center;
}

.word-area p {
    padding-bottom: 1rem;
}

/* font styles for Word, Meaning, Category labels, font is % of parent element */
.span-label {
    font-weight: 800;
    color: var(--pink);
    font-size: 110%;
}

/* to display the correct word when game over */
.word {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.08rem;
}

/* to display the correct definition when game over */
.definition {
    font-style: italic;
}

/* buttons in word area - specific styles */
.word-btn {
    border: 0.1rem solid var(--pink);
    padding: 0.6rem;
    margin: 0.2rem;
    font-size: 1.1rem;
    width: calc(50% - .8rem);
}

/*change font color on hover and focus*/
.word-btn:hover, .word-btn:focus {
    color: var(--pink);
}

/* container for buttons - padding */
.word-button-area {
    padding: .5rem 0;
}

/*div holding the spans for the letters to guess when game has started*/
.letter-space-container {
    padding: .5rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* spans for letters to be guessed - shown when game starts. Correct letters displayed here when guessed*/
.letter-space {
    width: 8%;
    border-bottom: 0.2rem solid var(--pink);
    display: inline-block;
    margin: 0.2rem;
    padding-bottom: 0.2rem;
    height: 1.5rem;
}

/*==================================== Keyboard ==============================================*/
/*div holding keyboard - flex container, center the keys within it*/
.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* each letter in keyboad -  specific padding, font size and margin */
.key {
    padding: 0.5rem 0.6rem;
    margin: 0.2rem;
    font-size: 1.1rem;
}

/*style for disabled keys:before game starts, when letter chosen during game. Attribute added and removed by js*/
/*reduced opacity and no pointer events so no hover effects/tabs etc. */
.key[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

/* font colour on key when incorrect letter guessed */
.incorrect {
    color: red;
}

/* font colour on key when correct letter guessed */
.correct {
    color: var(--green);
}

/*==================================== Footer ==============================================*/
/*flex container for ul, centered, font-size for the fontawesome icons*/
footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: 1.2rem;
}

/*display the social media icons*/
footer li {
    display: inline;
    padding: 0 1rem;
}

/* social media links color and color on hover and focus below also */
footer a {
    color: var(--blue);
}

footer a:hover,
footer a:focus {
    color: var(--pink);
}

/*==================================== MEDIA QUERIES ==============================================*/
@media screen and (min-width: 360px) {
    /* increased padding on header */
    .page-header {
        padding: 1.5rem;
    }
    
    /* larger font size on Score icon and text, and padding around score + instructions */
    .page-header li {
        padding: 0.5rem;
        font-size: 1rem;
    }

    /* larger font size for Instructions icon and text */
    .page-header button {
        font-size: 1rem;
    }

    /* extra margin and padding for game-sections as more space available*/
    .game-section {
        padding: .6rem;
        margin: .6rem auto;
    }

    /* slightly larger margin between keys */
    .key {
        margin: 0.3rem;
    }
}

@media screen and (min-width: 400px) {
    /* increased font-size, padding and margin for instructions modal box */
    .modal-content {
        margin: 2rem auto;
        padding: 1.2rem 1rem;
        font-size: .8rem;
        line-height: 1.6rem;
    }

    /* container for buttons - extra padding at this size */
    .word-button-area {
        padding: .8rem 0;
    }

    /* text in monster/guesses section when game over */
    .game-over-text {
        font-size: 1.2rem;
    }
}

/*================================ larger phone size ====================================*/
/* constrain width of main, to keep content in center and appropriately sized */
@media screen and (min-width: 500px) {
    main {
        width: 70%;
    }
}

/*================================ tablet width ==========================================*/
@media screen and (min-width: 768px) {

    /*======================== Page header ==========================*/
    /* show the Score and Instructions text that was hidden at mobile size */
    .hide-text {
        display: inline;
    }

    /* increase padding, font size in header items below */
    .page-header {
        padding: 2rem;
    }

    .logo {
        font-size: 3rem;
    }

    .page-header li {
        padding: 0.8rem;
        font-size: 1.2rem;
    }

    .page-header button {
        font-size: 1.2rem;
    }

    /*==================== Instructions Modal box =======================*/
    /* increased font-size, padding and margin container box */
    .modal-content {
        padding: 2rem 3rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    /* increased font size and padding underneath */
    .modal-header {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    /* increased font-size */
    .modal-close {
        font-size: 3rem;
        line-height: 3rem;
    }

    /*==================== Game Area =======================*/
    .word-area {
        font-size: .9rem;
    }

    /* container for word buttons - extra padding at this size */
    .word-button-area {
        padding: 1.2rem 0 .4rem;
    }

    /* word buttons - smaller width at this size */
    .word-btn {
        width: calc(40% - .8rem);
    }

    /* keys larger font-size and more padding */
    .key {
        font-size: 1.4rem;
        padding: .8rem 1rem;
        margin: .4rem;
    }
}

/*============================= tablet width and height ======================================*/
@media screen and (min-width: 768px) and (min-height: 900px) {

    /*==================== Game Area =======================*/
    /* more space added since there is more vertical space */
    main {
        padding-top: 1.8rem;
    }

    .game-section {
        padding: 1.8rem;
        margin: 1.8rem auto;
    } 
}

/*============================= laptop / desktop ======================================*/
@media screen and (min-width: 900px) {
    /* constrain width at larger size, keep game in vertical layout */
    main {
        width: 55%;
        /* padding-top: 1rem; */
    }

    /* alter spacing/sizing for the individual elements in the guesses container */
    .guess {
        margin: 0.4rem;
        width: calc(12.5% - .8rem);
    }

    /* adjust size of icon at game-over stage */
    .centered > .guess {
        width: 10%;
    }

    /* less padding on keyboard buttons at this layout */
    .key {
        padding: .6rem .8rem;
    }

    /* less padding and margin between sections in this layout */
    .game-section {
        padding: 1rem;
        margin: 1rem auto;
    }

    /* font sizing adjustments for word area and game over text */
    .word-area {
        line-height: 1.4rem;
    }

    .game-over-text {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}

/*============================= large screen ======================================*/
@media screen and (min-width: 1440px) {

    /* modal box - constrain width at larger screen size */
    .modal-content {
        width: 80%;
        padding: 4rem 6rem;
    }
}
