/*============================= to remove default settings =============================================*/
/* reset margin, padding and change box size default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* remove default bullets from all lists */
ul {
    list-style: none;
}

/*============================= general =============================================*/
/* base page style and body as flex container */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Mono', Courier, monospace;
    font-size: 1rem;
    line-height: 1.8rem;
    background-color: black;
    color: white;
}

/*============================= header =============================================*/
.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem;
}

/* score and instructions in page header display inline */
.page-header li {
    display: inline;
}

.logo {
    color: #ffff00;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .15rem;
}

/*==================================== MEDIA QUERIES ==============================================*/
@media screen and (min-width: 400px) {
    .page-header {
        justify-content: space-between;
    }
}