/*============================= to remove default settings =============================================*/
/* reset margin, padding and change box size default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* remove default bullets from all lists */
ul {
    list-style: none;
}

/*============================= general =============================================*/
/* colour variables */
:root {
    --green: #32ff00;
    --orange: #f78c0e;
    --yellow: #ffff00;
    --blue: #00ffde;
    --pink: #ff00ff;
    --red: #fb1307;
    --black: #000;
    --white: #fff;
}

/* base page font styles and body as flex container */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Mono', Courier, monospace;
    font-size: .8rem;
    line-height: 1.6rem;
    letter-spacing: 0.04rem;
    background-color: var(--black);
    color: var(--white);
}

/* h2 general font styles */
h2 {
    font-size: 1.6rem;
    font-family: 'VT323', monospace;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

/* general style for links - in footer and on form success page - no underline, set colour */
a {
    text-decoration: none;
    color: var(--blue);
}

/*remove background and border and set button text style, set font */
button {
    cursor: pointer;
    color: var(--blue);
    background: transparent;
    border: none;
    outline: none;
    font-family: inherit;
}

/* hover style for button and links */
button:hover, button:focus, a:hover, a:focus {
    color: var(--pink);
}

/* contact us link in footer and instructions button in header - border */
.header-footer-btn {
    border: 0.1rem solid var(--pink);
    padding: 0.2rem 0.4rem;
}

/*flex settings so it expands to fill the space and push footer to bottom*/
/* main is flex container for page content, also width and centered */
main {
    flex: 1 0 auto;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* border around each page section, padding and margin, font-size for main sections */
.page-section {
    border: 0.1rem solid var(--blue);
    border-radius: 0.1rem;
    padding: 0.5rem;
    margin: 0.5rem auto;
    width: 100%;
    font-size: 0.75rem;
    line-height: 1.2rem;
}

/* padding underneath each p in page sections */
.page-section p {
    padding-bottom: 1rem;
}

/* general styles for buttons in main section (not header/footer) - border, color, font */
.main-btn {
    border: 0.1rem solid var(--green);
    border-radius: 0.1rem;
    background-color: rgba(60, 60, 60, 0.6);
    color: var(--white);
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: .1rem;
}

/*change font color and background color on hover and focus*/
.main-btn:hover,
.main-btn:focus {
    background-color: rgba(60, 60, 60, 0.9);
    color: var(--green);
}

/*============================= header =============================================*/
/* flex container for logo and li - li has score and instructions button */
.page-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

/* score and instructions in page header font, layout styles */
.page-header li {
    display: inline;
    font-size: .8rem;
    padding: 0.5rem 0 0.5rem 0.2rem;
    color: var(--yellow);
}

/* font styles for logo in header */
.logo {
    color: var(--green);
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .15rem;
}

.logo:hover,
.logo:focus {
    color: var(--orange);
}

/* text for Score and Instructions - hidden at small screen size */
.hide-text {
    display: none;
}

/*==================================== Instructions Modal ==============================================*/
/* modal outer box - not visible by default, fixed position when opened full width and height */
.modal {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /*in case need to scroll down to read all instructions*/
    z-index: 1; /*on top of other content*/
    background-color: rgba(60, 60, 60, 0.9); /*opacity*/
}

/*modal with class visible added, when button clicked*/
.modal.visible {
    visibility: visible;
}

/*box holding the modal header and content */
.modal-content {
    margin: 1.5rem auto;
    padding: 1rem .8rem;
    width: 90%;
    background-color: var(--black);
}

/* heading and close button contained in this - flex container */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .6rem;
    padding-bottom: .5rem;
}

/* line-height to match header, this is for x to close the modal */
.modal-close {
    font-size: 1.8rem;
    line-height: 2rem;
}

/* padding for text section of modal*/
.modal-text ol {
    padding-left: 1.6rem;
    padding-right: .4rem;
}

/*==================================== Game Area - general ==============================================*/
/* for sections that are not shown initally and only shown at different game stages */
.hidden {
    display: none;
}

/*========================== Monster and Game 'lives'/guesses ==================================*/
/* container for the guesses, flex container, aligned flex-end so monster moves towards trophy */
.guesses {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* spacing/sizing for the individual elements in the guesses container */
.guess {
    margin: 0.1rem;
    width: calc(12.5% - .2rem);
    height: auto;
}

/* monster graphic - transition for transform */
.monster {
    transition: all .15s ease;
}

/* class added to monster graphic by js when a life is lost, to animate it */
.jump {
    transform: scale(1.25) translateY(-12%);
}

/* class added by js, to animate trophy graphic when game won, shake for 0.3s, infinite as js will remove class */
.shake {
    animation: shake 0.4s;
    animation-iteration-count: infinite;
}

/*keyframes to create the shake animation, from w3schools https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* to center the text and img when game is over, class added via js to guesses div */
.centered {
    justify-content: center;
    flex-wrap: wrap;
}

/* to increase the size of the icon when game over (only one icon remains at this stage)*/
.centered > .guess {
    width: 20%;
}

/* styles for the text-displayed when game over */
.game-over-text {
    font-family: 'VT323', monospace;
    font-size: .9rem;
    letter-spacing: 0.1rem;
    text-align: center;
    margin: 0 0.5rem;
}

/*==================================== Word Area ==============================================*/
/* word area - centered text */
.word-area {
    text-align: center;
}

/* font styles for Word, Meaning, Category labels, font is % of parent element */
.span-label {
    font-weight: 800;
    color: var(--pink);
    font-size: 110%;
}

/* to display the correct word when game over */
.word {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.08rem;
}

/* to display the correct definition when game over */
.definition {
    font-style: italic;
}

/* buttons in word area - specific styles */
.word-btn {
    border: 0.1rem solid var(--pink);
    padding: 0.6rem;
    margin: 0.2rem;
    width: calc(50% - .8rem);
}

/*change font color on hover and focus*/
.word-btn:hover, .word-btn:focus {
    color: var(--pink);
}

/* container for buttons - padding */
.word-button-area {
    padding: .5rem 0;
}

/*div holding the spans for the letters to guess when game has started*/
.letter-space-container {
    padding: .5rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* spans for letters to be guessed - spacing etc. font-size % so increases in line with parent font size */
.letter-space {
    width: 8%;
    border-bottom: 0.2rem solid var(--pink);
    display: inline-block;
    margin: 0.2rem;
    padding-bottom: 0.2rem;
    height: 1.5rem;
    font-size: 120%;
}

/*==================================== Keyboard ==============================================*/
/*div holding keyboard - flex container, center the keys within it*/
.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* each letter in keyboad -  specific padding, font size and margin */
.key {
    padding: 0.5rem 0.6rem;
    margin: 0.2rem;
}

/*style for disabled keys:before game starts, when letter chosen during game. Attribute added and removed by js*/
/*reduced opacity and no pointer events so no hover effects/tabs etc. */
.key[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

/* font colour on key when incorrect letter guessed */
.incorrect {
    color: var(--red);
}

/* font colour on key when correct letter guessed */
.correct {
    color: var(--green);
}

/*==================================== Footer ==============================================*/
/*flex container for ul, centered, font-size for the fontawesome icons*/
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-size: 0.9rem;
}

/*display the social media icons*/
footer li {
    display: inline;
    padding: 0 0.5rem;
}

/*==================================== Contact Form ==============================================*/
/* padding around form within div */
form {
    padding: 0 0.5rem;
}

/* for input labels to display above inputs */
label {
    display: block;
}

/* form inputs and textarea - layout, spacing */
form input,
textarea {
    display: block;
    border: 0.1rem solid var(--orange);
    background-color: var(--black);
    color: var(--blue);
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.05rem;
    font-family: inherit;
    font-size: inherit;
}

/* textarea size and disable resize option */
textarea {
    resize: none;
    height: 6rem;
}

/* placeholder colour for inputs and textarea */
::placeholder {
    color: var(--blue);
    opacity: 1;
}

/* submit button specific styles */
.form-btn {
    padding: 0.4rem 0.6rem;
    margin: 0.5rem auto;
    width: 100%;
}

/* hover style for submit button */
.form-btn:hover,
.form-btn:focus {
    color: var(--green);
}

/* when inputs are in focus - remove default outline, replace with brand colours border */
form input:focus,
textarea:focus {
    outline: none;
    border: 0.1rem solid var(--blue);
}

/* change border colour on inputs and textarea when valid data entered */
form input:valid,
textarea:valid {
    border: 0.1rem solid var(--green);
}

/* to amend the browser autocomplete styles to match form styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--blue);
    transition: background-color 5000s ease-in-out 0s;
}

/*==================================== MEDIA QUERIES ==============================================*/
@media screen and (min-width: 360px) {
    /* increased padding on header */
    .page-header {
        padding: 1.5rem;
    }
    
    /* larger font size on Score icon and text, and padding around score + instructions */
    .page-header li {
        padding-left: 0.5rem;
        font-size: 1rem;
    }

    /* larger font size for Instructions icon */
    .header-footer-btn {
        font-size: 1rem;
    }

    /* extra margin and padding for page-sections as more space available*/
    .page-section {
        padding: .6rem;
        margin: .6rem auto;
    }

    /* slightly larger margin between keys */
    .key {
        margin: 0.3rem;
    }
}

@media screen and (min-width: 400px) {
    /* increased font-size, padding and margin for instructions modal box */
    .modal-content {
        margin: 2rem auto;
        padding: 1.2rem 1rem;
        font-size: .8rem;
        line-height: 1.6rem;
    }

    /* container for buttons - extra padding at this size */
    .word-button-area {
        padding: .8rem 0;
    }

    /* text in monster/guesses section when game over */
    .game-over-text {
        font-size: 1.2rem;
    }
}

/*================================ larger phone size ====================================*/
/* constrain width of main, to keep content in center and appropriately sized */
@media screen and (min-width: 500px) {
    main {
        width: 70%;
    }
}

/*================================ tablet width ==========================================*/
@media screen and (min-width: 768px) {

    /*======================== Page header ==========================*/
    /* show the Score and Instructions text that was hidden at mobile size */
    .hide-text {
        display: inline;
    }

    /* increase padding, font size in header items below */
    .page-header, footer {
        padding: 2rem;
    }

    .logo {
        font-size: 3rem;
    }

    .page-header li, footer li {
        padding-left: 0.8rem;
        font-size: 1.2rem;
    }

    .header-footer-btn {
        font-size: 1.2rem;
        padding: 0.4rem 0.6rem;
    }

    /*==================== Instructions Modal box =======================*/
    /* increased font-size, padding and margin container box */
    .modal-content {
        padding: 2rem 3rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    /* increased font size and padding underneath */
    .modal-header {
        font-size: 1rem;
        padding-bottom: 1rem;
    }

    /* increased font-size */
    .modal-close {
        font-size: 3rem;
        line-height: 3rem;
    }

    /*==================== Game Area =======================*/
    /* increase font-size for all buttons in main section */
    .main-btn {
        font-size: 1.4rem;
    }

    .page-section {
        font-size: .9rem;
    }

    /* container for word buttons - extra padding at this size */
    .word-button-area {
        padding: 1.2rem 0 .4rem;
    }

    /* word buttons - smaller width at this size */
    .word-btn {
        width: calc(40% - .8rem);
    }

    /* keys more padding and margin */
    .key {
        padding: .8rem 1rem;
        margin: .4rem;
    }
}

/*============================= tablet width and height ======================================*/
@media screen and (min-width: 768px) and (min-height: 900px) {

    /*==================== General =======================*/
    /* more space added since there is more vertical space */
    main {
        padding-top: 1.8rem;
    }

    .page-section {
        padding: 1.8rem;
        margin: 1.8rem auto;
    } 
}

/*============================= laptop / desktop ======================================*/
@media screen and (min-width: 900px) {
    /* constrain width at larger size, keep game in vertical layout */
    main {
        width: 55%;
    }

    /* alter spacing/sizing for the individual elements in the guesses container */
    .guess {
        margin: 0.4rem;
        width: calc(12.5% - .8rem);
    }

    /* adjust size of icon at game-over stage */
    .centered > .guess {
        width: 10%;
    }

    /* less padding and margin between sections in this layout, change line height */
    .page-section {
        padding: 1rem;
        margin: 1rem auto;
        line-height: 1.4rem;
    }

    /* container for guesses - extra padding at sides to keep centered and adjust icon sizes */    
    .guesses {
        padding: 1rem 3rem;
    }

    .game-over-text {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    /* letters to be guessed - more space between spans, extra height */
    .letter-space {
        margin: 0.4rem;
        height: 1.8rem;
    }
}

/*============================= large tablet - longer screen ======================================*/
@media screen and (min-width: 900px) and (min-height: 1000px) {
    /*==================== Header =======================*/
    /* larger logo size */
    .logo {
        font-size: 4rem;
    }

    /*==================== Game Area =======================*/
    /* more space added since there is more vertical space */
    main {
        padding-top: 2rem;
    }

    /* larger font size for sections, more padding */
    .page-section {
        padding: 2rem;
        font-size: 1.2rem;
        line-height: 2rem;
    } 

    /* adjust size of icon at game-over stage - larger than previous media query as box has more space */
    .centered > .guess {
        width: 15%;
    }

    /* letters to be guessed - more space between spans, extra height */
    .letter-space {
        margin: 0.6rem;
        height: 2.4rem;
    }

    /* container for word buttons - extra padding at this size */
    .word-button-area {
        padding: 1.6rem 0 .8rem;
    }

    /* increase font-size for all buttons in main section */
    .main-btn {
        font-size: 1.6rem;
    }

    /* word buttons - more padding */
    .word-btn {
        padding: 1rem;
    }

     /* keys more padding and margin */
     .key {
        padding: 1.2rem 1.4rem;
        margin: .6rem;
    }
}


/*============================= large screen ======================================*/
@media screen and (min-width: 1440px) {

    /* modal box - constrain width at larger screen size */
    .modal-content {
        width: 80%;
        padding: 4rem 6rem;
    }

    /* game area - constrain width */
    main {
        width: 50%;
    }
}

/*============================= extra large screen ======================================*/
@media screen and (min-width: 2000px) {
    /*==================== Modal =======================*/
    /* modal box - increased font size, margin, padding, decreased width */
    .modal-content {
        width: 70%;
        font-size: 1.4rem;
        line-height: 3rem;
        margin: 6rem auto;
        padding: 6rem 8rem;
    }

    /*==================== Game Area =======================*/
    /* larger font size for sections, more margin and padding */
    .page-section {
        margin: 1.5rem auto;
        padding: 2.5rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .guesses {
        padding: 3rem 6rem;
    }

    .game-over-text {
        font-size: 2.6rem;
        line-height: 3.6rem;
        letter-spacing: 0.2rem;
    }

    /* letters to be guessed - extra height */
    .letter-space {
        height: 2.8rem;
    }

    /* increase font-size for all buttons in main section */
    .main-btn {
        font-size: 2rem;
    }

    /* word buttons - more padding/spacing */
    .word-btn {
        padding: 1.5rem;
        letter-spacing: 0.2rem;
        width: 30%;
        margin: 1rem;
    }

    /* more padding on keyboard and keys */
    .keyboard {
        padding: 3rem 4rem;
    }

     .key {
        padding: 1.4rem 1.6rem;
    }

    /*==================== Footer and Header =======================*/
    /* increase font size and padding  */
    footer {
        padding: 2rem 4rem;
    }

    .page-header {
        padding: 4rem 4rem 2rem;
    }
    
    .page-header li, footer li {
        font-size: 1.5rem;
    }

    .header-footer-btn {
        font-size: 1.5rem;
        padding: 0.6rem 0.8rem;
    }
}
